* {
	box-sizing: border-box!important;
}

div {
	margin: 0;
	padding: 0;
} 

.clearfix:after {
    content:'';
    display:block;
    clear:both;
}
  

/* div.breadcrumbs  ol.breadcrumb li.breadcrumb-item a { */
/*     color: #F3722C; */
/* } */


/* div.breadcrumbs  ol.breadcrumb li.breadcrumb-item a:hover { */
/*     color: #F9C74F; */
/* } */

.content {
	padding: 0 15px;
/* 	border: 1px solid gray; */
}



.recipe-block {
    position: relative;
	margin: 0 8px 60px 7px;
    box-shadow: 0 0 5px rgba(252, 146, 76, 0.6);
/*     box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 146, 76, 0.6); */
	font-size: 20px;
}

.mouseenter {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.01), 0 0 8px rgba(252, 146, 76, 0.8)!important;
}

/* div.recipe-block a { */
/* 	color: #F3722C; */
/* } */

.recipe-block .pic .time {
	font-size: 14px;
	letter-spacing: 1px;
	position: absolute;
	top: 10px;
	left: -10px;
	z-index: 1;
	background: #FFCB9D;
	padding: 5px;
}

.recipe-block .pic {
	padding: 0!important;	
}

.recipe-block .pic .img-outer {
    position: relative;
    height: 240px;
    overflow: hidden;	   /* 無法用偽類解決 */
    background: #eee;
/* 	border: 1px solid gray; */
}

.recipe-block .pic .img-outer > img {
    position: absolute;
    width: 120%;
    top: 50%;
    transform: translateY(-50%);
	left: -10%;
/* 	opacity: 0.8; */
}

.recipe-block .count {
    position: absolute;
    top: 185px;
    margin-left: 15px;
   	background: #F3722C;
   	padding: 5px 0 5px 10px;
/*    	padding-left: 10px; */
}


.recipe-block .count > span {
	margin-right: 10px;
}


.recipe-block .count > span svg {
	margin-right: 10px;
}

.recipe-block .count span.favcount.click svg {
	color: #FF79C6;	
}
.recipe-block .count span.likecount.click svg {
	color: #435DFF;
}

.recipe-block .info {
/* 	border: 1px solid gray; */
	padding: 5px 15px;
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	justify-content: space-between;   */
	position: relative;
}

.recipe-block .info svg {
	margin-right: 5px;
	color: #FFCB9D;
}

.recipe-block .info .title {
	font-size: 24px;
}

.recipe-block .info .title h4 {
	display: inline-block;
	font-size: 24px;
}

.recipe-block .info .title h4 a {
	font-weight: bold;
}


.recipe-block .info .intro {
    overflow: hidden;
/* 	white-space: nowrap; */
	text-overflow: ellipsis;
	height: 100px;
	width: 100%;
/* 	border: 1px solid gray; */
/* 	padding: 15px; */
	display: table;
	margin-bottom: 32px;
}


.recipe-block .info .intro .intro-text {
	display: table-cell;
	vertical-align: middle;
	color: #7F7F7F;
}

.recipe-block .info .readmore {
/* 	text-align: right; */
	position: absolute;
	bottom: 10px;
	right: 15px;
}


@media screen and (max-width: 1200px){

	.recipe-block .info .intro {
		margin-bottom: 50px;
	}
	
	.recipe-block .info .readmore {
		bottom: 15px;
	}
	
}
/* div.recipe-block div.info div.readmore form { */
/* 	display: inline-block; */
/* 	float:left; */
/* } */


.recipe-block .info .change {
	position: absolute;
	bottom: 15px;
	left: 15px;
	margin-bottom: 0!important;
}


.recipe-block .info .change form {
	display: inline-block;
}

.recipe-block .info .change form .btn {
	padding: 4px 7px;
}


.recipeRowCountEle {
	text-align: center;
}

.recipeRowCountEle span {
/* 	color: #F3722C; */
	font-weight: bold;
}

.pageSwitcher {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 60px;
	font-size: 0;
}

.pageSwitcher a {
	padding: 7px;
	border-radius: 3px;
	background: #C4C4C4;
	color: #fff;
/* 	line-height: 1.5; */
	font-size: 16px;
	margin-right: 7px;
}

.pageSwitcher a.currenPageEle {
	background: #F3722C;
	color: #fff;
}


.pageSwitcher a.prevPageEle, .pageSwitcher a.nextPageEle  {
	background: #FFAE82;
	color: #fff;
}

.pageSwitcher a.prevPageEle {
	margin-right: 14px;
}

.pageSwitcher a.nextPageEle {
	margin-left: 7px;
}

.pageSwitcher a:hover {
	background: #F2CBB6;
	color: #000;
}

@media screen and (max-width: 768px){
	.pageSwitcher a {
		display: none;
	}
	
	.pageSwitcher a.prevPageEle, .pageSwitcher a.nextPageEle  {
		display: inline-block;
		line-height: auto;
	}
}


.vertical-container {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}




























