@charset "UTF-8";

.sidebar.row {
	padding: 0 15px !important;
}

@media screen and (max-width: 767px){
	.sidebar.col-12 {
		margin-top: 40px;
	}
}
.sidebar-block {
	margin: 0 0 40px 0!important;
	padding: 0 15px !important;
}
.sidebar-title {
	display: flex;
	justify-content: space-between !important;
    align-items: baseline;
}
.sidebar-block h4 {
	display: inline-block;
	border-bottom: 4px solid #FABA69;
	padding-bottom: 10px;
}
.sidebar-block a.btn {
	padding: 5px 7px;
	margin: 3px;
	background: #FFAE82;
	border: 1px solid #FFAE82;
	color: #111;
}
.sidebar-block a.btn:hover {
	background: #F2CBB6;
	border: 1px solid #F2CBB6;
	color: #000 !important;
}
.sidebar-block a.more {
	display: inline-block;
	color: #7F7F7F;
}
.sidebar-block a.more:hover {
	color: #2F2F2F;
}
}
.sidebar-list > ol {
	list-style-type: decimal!important;
}

.sidebar {
	padding: 0!important;
	
}
.mostFavRecipe span {
	display:inline-block;
}
a.mostFavRecipe {
	display: block;
}

a.mostFavRecipe:hover {
	background: #fffce8;
	color: #222;
}

.favRecipe {
	font-size: 20px;
}
.favRecipeCount {
    width: 24px;
    color: white;
    height: 24px;
    background: #FFAE82;
    text-align: center;
    border-radius: 50%;
	color: #333;
}
.favRecipeAuthor {
	color: #666;
}