* {
	box-sizing: border-box!important;
}
div {
	margin: 0;
	padding: 0;
} 
.row {
    margin: 0px;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1; /*For IE 6&7 only*/
}
/* .clearfix:after { */
/*     content:''; */
/*     display:block; */
/*     clear:both; */
/* } */

.content {
	padding: 0 15px;
}


.sidebar {
}


div.recipe-full {
	font-size: 18px;
}
div.recipe-full .title svg, div.recipe-full .sub-title svg {
	margin-right: 5px;
	color: #FFCB9D;
}

div.recipe-full div.sub-title {
	margin-bottom: 20px;
}

div.recipe-full div.title {
	font-size: 26px;
}

div.recipe-full div.title h4 {
	display: inline-block;
	font-size: 26px;
}

div.recipe-full div.title h4 a {
	font-weight: bold;
}

div.recipe-full div.time, div.author {
	display: inline-block;
	margin-right: 10px;
}

div.recipe-full div.time {
	letter-spacing: 1px;
}




div.recipe-full div.pic div.img-outer {
    position: relative;
    height: 385px;
    overflow: hidden;	   /* 無法用偽類解決 */
    background: #eee;
}

div.recipe-full div.pic div.img-outer > img {
    position: absolute;
    width: 120%;
    top: 50%;
    transform: translateY(-50%);
	left: -10%;
}


div.recipe-full div.count {
    position: absolute;
    bottom: 10px;
    margin-left: 15px;
    font-size: 20px;
    color: black;
    background: #F3722C;
   	padding: 5px 0 5px 10px;
}


div.recipe-full div.change {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 20px;
    color: black;
}

.recipe-full .change form,
.recipe-full .change button, 
.recipe-full .change input {
	display:inline-block;
}

.recipe-full .count > span {
	margin-right: 10px;
}


div.recipe-full div.count > span svg {
	margin-right: 10px;
}


.recipe-full .count > span {
	margin-right: 10px;
}


.recipe-full .count > span svg {
	margin-right: 10px;
}

.recipe-full .count span.favcount.click svg {
	color: #FF79C6;	
}
.recipe-full .count span.likecount.click svg {
	color: #435DFF;
}





div.recipe-full div.intro {
	font-size: 36px;
	padding: 0;
	background: #FFFCE8;
	padding: 20px;
	display: table;
	width: 100%;
}

div.recipe-full div.intro-text {
	font-size: 18px;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}


div.recipe-full div.info, div.recipe-full div.category {
}

.margin-top {
	margin-top: 20px;
}

.head {
	padding: 7px;
	background: #;
}

.head h3 {
	color: #F3722C;
	font-size: 24px; 
}

.ingredient-unit .head h3 {
	display: inline-block;
	margin-right: 10px;
}

.list {
	background: #FFFCE8;
	padding: 5px;
}


div.recipe-full div.category span {
	display: inline-block;
	background: #eee;
	padding: 7px;
	margin: 3px;
}

.ingredient-unit .head span {
	font-size: 24px;
}

.ingredient-unit .list {
	padding: 0;
}
.data {
	line-height: 2;
	text-align: center;
	paddin: 7px;
}

.data:nth-child(even) {
	background: #F4F4F4;
}

.recipe {
	margin-bottom: 20px;
}

.recipe .order span {
	text-align: center;
	font-size: 45px;
	line-height: 50px;
	width: 90px;
	height: 90px;
	letter-spacing: -2px;
	background: #FFFCE8;
	border-radius: 50%;
	padding: 20px;
	display: inline-block;
} 
.recipe img {
	width: 100%;
}

.recipe .order {
	padding: 5px; 
}

/* .recipe .order span { */
	
/* 	position: absolute; */
/* 	top: 50%; */
/* 	transform: translateY(-50%); */
/* } */

.vertical-container {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
@media screen and (max-width: 1200px){

	.recipe .text {
		padding: 5px;
		padding-left: 20px;
	}
	
	.recipe .img {
		margin-top: 10px;
	}
}