<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>JustEat</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/JustEat</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.filter.controller.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/Account/AccountInfoPage.jsp</url-pattern>
		
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>com.admininfo.controller.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/Dashboard/Account/dashboard.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccountInfoServlet</servlet-name>
		<servlet-class>com.accountinfo.controller.AccountInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountInfoServlet</servlet-name>
		<url-pattern>/Account/accountInfo.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FriendshipServlet</servlet-name>
		<servlet-class>com.friendship.controller.FriendshipServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FriendshipServlet</servlet-name>
		<url-pattern>/Account/friendship.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NoticeServlet</servlet-name>
		<servlet-class>com.notice.controller.NoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeServlet</servlet-name>
		<url-pattern>/Account/notice.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AnnounceServlet</servlet-name>
		<servlet-class>com.announce.controller.AnnounceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnnounceServlet</servlet-name>
		<url-pattern>/Account/announce.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EventInfoActionServlet</servlet-name>
		<servlet-class>com.eventinfo.controller.EventInfoActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventInfoActionServlet</servlet-name>
		<url-pattern>/Event/EventInfo.do/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EventInfoPicServlet</servlet-name>
		<servlet-class>com.eventinfo.controller.EventInfoPicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventInfoPicServlet</servlet-name>
		<url-pattern>/Event/EventInfoPicServlet/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecipeServlet</servlet-name>
		<servlet-class>com.recipe.controller.RecipeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecipeServlet</servlet-name>
		<url-pattern>/Recipe/recipe.do</url-pattern>
	</servlet-mapping>


<!-- 	<servlet> -->
<!-- 		<servlet-name>PicturesViewer</servlet-name> -->
<!-- 		<servlet-class>com.recipe.controller.PicturesViewer</servlet-class> -->
<!-- 	</servlet> -->
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>PicturesViewer</servlet-name> -->
<!-- 		<url-pattern>/Recipe/TopPic/*</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<!-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓測試用↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ -->
	<servlet>
		<servlet-name>EventInfoTestAllPic</servlet-name>
		<servlet-class>com.eventinfo.model.TestAllPic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventInfoTestAllPic</servlet-name>
		<url-pattern>/EventTestAllPic/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EventInfoTestOnePic</servlet-name>
		<servlet-class>com.eventinfo.model.TestOnePic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventInfoTestOnePic</servlet-name>
		<url-pattern>/EventTestOnePic/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddCuisine</servlet-name>
		<servlet-class>com.cuisinecategory.controller.CuisineCategoryAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCuisine</servlet-name>
		<url-pattern>/jacktest/addcuisine.do</url-pattern>
	</servlet-mapping>
	
	
</web-app>